body {margin:0;}

html,body {
  height:100%;
}

.topnav {
  overflow: hidden;
  background:transparent;
  background-color: rgba(105,105,105,0.2);    
  width: 100%;
  top: 0;
}

body {
	padding-top: 60px;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
    background-color:  rgba(105,105,105);
    color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 30px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #333;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
	background: gray;
    
}
.form-horizontal {
	background: #ddd;
	color: black;
}


.button:hover {
	background-color: #ddd;
	color: black;
}

.button {
  overflow: hidden;
  background-color: Transparent;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  font-size: 17px;

}

.nav-tabs > li > a{
	background-color: #ddd !important;
	color: black;
	border: ;
}

.nav-tabs:hover {
	background-color: #ddd !important;
	color: black;
}

.modal-body {
	background-color: #ddd;
	color: black;
}

.loginbutton{
	border: none 0px;
	border-radius: solid #ddd;
	background: none;
}

.registerbutton {
	background: none;
}

.forgotpwd {
	color:black;
}

.navbar.affix {
    position: fixed;
    top:0;
    width:100%;
	background: transparent:
}

